*, html, body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Encode Sans Expanded', sans-serif;
	
  }
  
  .welcome-btn {
	background-color: #038ED7;
	color: white;
	width: 250px;
	height: 2.5rem;
	cursor: pointer; 
	border-radius: 8px; 
	text-decoration: none;
	padding: .65rem 2.5rem;
	margin: 1rem;
	font-size: 1.5rem;
	cursor: pointer;
  }
 
 
 
 
 
 .joke {
   text-indent: 70px;
   font-size: 20px;
   letter-spacing: 1px;
   line-height: 30px;
   margin: 20px auto;
   max-width: 100%;
   color: #F98E04;
   padding: 3rem;
 }